
::ng-deep body {
    background: linear-gradient(to bottom, #393939 0%,#393939 10%,#fff 10%,#fff 100%) !important;
}
::ng-deep .triggerBtn:hover {
    cursor: pointer;
}
::ng-deep .main-menu__sub-list li a {
    color: white !important;
}
::ng-deep agm-map{
    height: 500px;
} 
::ng-deep .page-header--fixed .page-header__top {
    display: none !important;
}